<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Soccer Stats Keeper WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Soccer Stats Keeper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C77BB4B91AEBAD49003D2AA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C77BB4D11AEBAD49003D2AA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C77BB4EF1AEBAD8C003D2AA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
